html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    /* Background pattern from Subtle Patterns */
    background: #ffffff url('../img/geometry2.png');
    font-family: 'Open Sans', sans-serif;
    min-width: 320px;   
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0 auto 0 auto;
    max-width: 680px;
    min-width: 320px;
}


/*
 * Style for header (counter)
 */


h1 {
    font-weight: 700;
}


/*
 * Styles for the deck of cards
 */


.deck {
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4% 0 0 4%;
    width: 90vw;
    height: 90vw;
    max-width: 680px;
    max-height: 680px;
    min-width: 320px;
    min-height: 320px;
}

.deck .card {
    animation: close-animation linear 300ms 1;
    width: 20%;
    height: 20%;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    margin: 0 4% 4% 0;
}

/*cards animation for closing*/
@keyframes close-animation {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(-180deg);
    }
}

.deck .card.open {
    animation: open-animation linear 300ms 1; 
    background: #02b3e4;
    cursor: default;
}

/*cards animation for opening cards*/
@keyframes open-animation {
    0% {
        transform: rotateY(-180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    animation: match-animation linear 300ms 1;
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*cards animation if they match*/
@keyframes match-animation {
    0% {
        transform: scale(1,1);
    }
    25% {
        transform: scale(1.3,0.7);
    }
    50% {
        transform: scale(0.7,1.3);
    }
    75% {
        transform: scale(1.3,0.7);
    }
    100% {
        transform: scale(1,1);
    }
}

/*cards state when they don't match*/
.deck .card.no-match {
    animation: no-match-animation linear 800ms 1;
    cursor: default;
    background: #f4443b;
    font-size: 33px;
}

/*card animation if they don't match*/
@keyframes no-match-animation {
    0% {
        transform: translate(0px, 0px) rotate(0);
    }
    16% {
        transform: translate(-50px, 10px) rotate(-2deg);
    }
    32% {
        transform: translate(0px, 0px) rotate(0);
    }
    48% {
        transform: translate(50px, 10px) rotate(2deg);
    }
    62% {
        transform: translate(0px, 0px) rotate(0);
    }
    78%{
        transform: translate(-50px, 10px) rotate(-2deg);
    }
    94%{
        transform: translate(0px, 0px) rotate(0);
    }
}

/*
 * Styles for Moves Counter
 */

.moves {
    font-weight: 400;
}


/*
 * Styles for Timer
 */


.timer {
    font-weight: 400;
}


/*
 * Styles for the Rating System
 */


.score-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    width: 90vw;
    max-width: 680px;
    min-width: 320px;
    margin-bottom: 10px;
    padding: 0 20px 0 20px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

/*
* Style for Restart Button
*/


.score-panel .restart-button {
    cursor: pointer;
    /*keep the hit area large enough for small screens*/
    padding: 1.5em;
}


/*
 * Styles for the Game Over message
 */


.game-over {
    /*hidden while the user is playing*/
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 320px;
    padding: 20px;
    background-color: #ffffff;
}

.game-over.open {
    /*visible when game is over*/
    visibility: visible;
}

.game-over .congratulations {
    color: #333333;
    font-size: 35px;
    font-weight: 700;
    padding: 0;
    line-height: 1.5em;
    margin: 0 0 10px 0;
    text-align: center;
} 

.game-over .message {
    color: #666666;
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    line-height: 1.5em;
    margin: 0 0 25px 0;
    text-align: center;
}

.game-over .play-button {
    /*keep the hit area large enough for small screens*/
    padding: 1.5em;
    background-color: #20b4a1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    outline:none;
}

/*media queri for screens smaller or equal to 680px */
@media screen and (max-width: 680px) {

    .deck {
        border-radius: 5px;
        box-shadow: 6px 4px 10px 0 rgba(46, 61, 73, 0.5);
    }

    .deck .card {
        border-radius: 4px;
        box-shadow: 4px 2px 10px 0 rgba(46, 61, 73, 0.5);
    }

    .deck .card.show {
        font-size: 25px;
    }

    .deck .card.match {
        font-size: 25px;
    }

    .deck .card.no-match {
        font-size: 25px;
    }

}

